.header, .title-section, .subtitle {
    text-align: center;
}

.title-section {
    padding: 5px 10px 5px 10px;
}

.nav {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.color-icon {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 10px 0 10px 0;
    color: black;
}

.color-code {
    display: inline-block;
    width: 20%;
}

p {
    text-align: center;
    display: inline-grid;
    padding: 10px;
    margin: 10px;
}