.header, .title-section, .subtitle {
    text-align: center;
}

.title-section {
    padding: 20px 40px 20px 40px;
}

.nav {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

a {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.subtitle {
    padding: 10px 0 10px 0;
}